html * {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

#text {
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    position: absolute;
}

#canvas-wrapper {
    background-image: url(../img/bg.jpeg);
    background-position: center center;
    background-size: contain;
    background-blend-mode:lighten;
    width: 100%;
    height: 100%;
}
